#root{
  max-width: 100vw;
  overflow: hidden;
}


.bg-category{
    background-image: url("./assets/images/categorybg.png");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-category2{
    background-image: url("./assets/images/categorybg2.png");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

#about{
  background-image: url("./assets/images/about-bg.png");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}